# Base de datos
MYSQL_DATABASE=gigatec_nova
MYSQL_USER=gigatec_user
MYSQL_PASSWORD=your_secure_password_here
MYSQL_ROOT_PASSWORD=your_root_password_here
# Puerto
MYSQL_PORT=3308
# Java / aplicación
MYSQL_HOST=localhost
